.profile__edit {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-image: url(../../../images/profile-edit.png);
  background-color: transparent;
  background-position: 50% 50%;
  background-size: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.4s linear;
  padding: 0;
  grid-area: edit;
}

.profile__edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 625px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}