.popup__save {
  border: 0;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  min-height: 50px;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  transition: opacity 0.4s linear;
}

.popup__save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 625px) {
  .popup__save {
    min-height: 46px;
    font-size: 14px;
  }
}