.profile__title {
  margin: 0;
  max-width: 100%;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  vertical-align: baseline;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: title;
}

@media screen and (max-width: 625px) {
  .profile__title {
    font-size: 27px;
  }
}