.card__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/card-like.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.4s linear;
  grid-area: like;
  place-self: center;
}

.card__like:hover {
  opacity: 0.6;
}