.card__delete{
    width: 18px;
    height: 19px;
    background-image: url(../../../images/card-delete.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.4s linear;
    position: absolute;
    top: 20px;
    right: 20px;
}

.card__delete:hover {
    opacity: 0.6;
}