.popup__text {
  box-sizing: border-box;
  font-size: 14px;
  height: 37px;
  line-height: 1.2;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 43px;
  padding: 0;
}

.popup__text:first-of-type {
  margin-bottom: 20px;
}